<div class="card-container">
  <div id="card">
    <div>
      <span class="card-rank"><%= @rank %></span>
      <span class="card-suite" id="<%= @color %>"><%= @suite %> </span>
    </div>
    <div class="card-image"></div>
  </div>
</div>
<a class="btn btn-outline-primary" href="http://localhost:3000/war">
  Draw
</a>
